@{
    ViewData["Title"] = "O nas";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
    Instalacja elektryczna jest jedną z najbardziej kluczowych instalacji w domu. Dlatego niezwykle istotnym jest używanie materiałów z atestami o wysokiej jakości. Lepiej jest zapłacić więcej na etapie wykonywania instalacji, aniżeli później kuć ściany czy posadzki w celu usunięcia awarii.

    Nasza firma posiada doświadczoną ekipę elektryków, którzy wykonują usługi elektryczne:
    <ul>

        <li>przyłącza elektryczne</li>
        <li>instalacje elektryczne</li> 
        <li>instalacje alarmowe</li> 
        <li>instalacje RTV i SAT</li>
        <li>inteligentne sterowanie</li>
        <li>pomiary elektryczne</li>
    </ul>

    Nasi pracownicy posiadają niezbędne uprawnienia oraz certyfikaty do wykonywania instalacji oraz pomiarów. Dla naszych Klientów przygotowujemy wszelkie dokumenty, które są niezbędne do końcowych odbiorów w urzędach


</p>
