@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Siedziba Firmy:
    ul. Witosa 9
    06-323 Jednorożec

    Tel. 29 751 88 68
         508 522 565

    Adres E-mail: biuro.elekt@gmail.com
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mailAdmina@wp.pl">MAIL DO ADMINA</a><br />
</address>
